.menu {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f5f5;
    color: #fff;
    z-index: 1000;
  }
  
  .menu .logo img {
    max-width: 100px;
    padding: 10px;
  }
  
  .menu ul.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu ul.menu-list li {
    margin-right: 10px; 
  }
  
  .menu ul.menu-list li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #0e0101;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .menuLink {
    padding: 5px 20px; 
  }