.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #efe6e6;
  z-index: 1000;
}

.menu .logo img {
  max-width: 150px;
  padding: 10px;
}

.menu ul.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul.menu-list li {
  margin-right: 10px;
}

.menu ul.menu-list li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #0e0101;
}

.menu a:hover {
  text-decoration: underline;
}

.menuLink {
  padding: 5px 20px;
}