.card-trainer-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #b3bfd6;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  text-align: center;
  margin-bottom: 20px;
}

.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.answer button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #59a45a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stats {
  text-align: center;
}

.stats p {
  margin: 5px 0;
}

.stats .correct {
  color: #88a5c4;
  font-weight: bold;
}

.stats .incorrect {
  color: #955d62;
  font-weight: bold;
}